

.logincontainer {
    background-image: 
        linear-gradient(46.33deg, rgba(33, 33, 33, 0.839216) 0%, #4242423d 178.98%), 
        url('./assets/loginbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}